venv/
.venv/

__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

.env

*.log
.DS_Store
Thumbs.db

node_modules/
.next/
dist/


data/*.pkl
data/*.parquet
data/*.pt
data/*.csv
data/query_cache/
yelp_academic_dataset_*.json


/mlruns/
.deepeval*/
.deepeval-cache.json
/eval_runs/

/logs/
airflow.db
webserver_config.py
